.searchButton {
    width: 120px;
    height: 66px;
    border: 1px solid #0e5963;
    background: #0e5963;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
