.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.grid-item {
    border: 1px solid #0e5963;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}
